<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Documento</title>
    <link rel="icon" type="image/x-ico" href="{{url_for('static', filename='img/Logi.svg')}}"/>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#Prueba').bind('click', function() {
                $.getJSON('/background_process_test',
                    function(data) {
                //do nothing
                });
                return false;
              });
            });
    </script>
    <script>
        accuaracy = "{{accuaracy}}"
        function greets(){
            alert("Su imagen está siendo analizada, por favor espere.");
            }
        function doctor(){
            if (accuaracy>0.6){
                alert("Por favor acuda al medico. Usted tiene una posibilidad del {{accuaracy}} de sufrir cancer")
            }else{
                alert("No parece recomendable ir al medico")
            }

        }
    </script> -->
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div class = "container2">
        <div class="text-center">
            <h7 aling = "center">La probabilidad de que usted tenga un tumor benigno es del {{B}} %</h7>
            <br></br>
            <br></br>
            <br></br>
            <h7 aling = "center">La probabilidad de que usted tenga un tumor maligno es del {{M}} %</h7>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">La empresa Proyecto Manhattan no se hace responsable de las decisiones que usted tome. Recomendamos que si la probabilidad de que sea maligno supera el 50 % acuda a un especialista</p></div>
    </div>
</body>
</html>