<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Documento</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#Prueba').bind('click', function() {
                $.getJSON('/background_process_test',
                    function(data) {
                //do nothing
                });
                return false;
              });
            });
    </script>
    <script>
        accuaracy = "{{accuaracy}}"
        function greets(){
            alert("Su imagen esta siendo analizada, por favor espere.");
            }
        function doctor(){
            if (accuaracy>0.6){
                alert("Por favor acuda al medico. Usted tiene una posibilidad del {{accuaracy}} de sufrir cancer")
            }else{
                alert("No parece recomendable ir al medico")
            }

        }
    </script>
</head>
<body>
    <h2 aling = "center">Por favor si desea analizar su imagen pulse en el botón</h2>
    <form>
        <a href=# id=Prueba><button onclick = greets() class='btn btn-default'>ANALizar</button></a>
    </form>

    <form>
        <a href=# id=Prueba><button onclick = doctor() class='btn btn-default'>Resulta2</button></a>
    </form>
    <h1></h1>
</body>
</html>